#Creating Variables
Python has no command for declaring a variable.

In [1]:
age = 22
name = "Jamal"
salary = 67000.5
print(age)
print(name)
print(salary)

22
Jamal
67000.5

#Data Type

In [4]:
age = 32
name = "Karim"
isMale= True;
print(type(age))
print(type(salary))
print(type(isMale))

<class 'int'>
<class 'float'>
<class 'bool'>

#List
Lists are used to store multiple items in a single variable.

In [8]:
list1 = ["Pen","Pencil","NoteBook"]
list2 = list(("Pen","Book","Pencil"))
list3 =[1,2,3,4,6]
print(list1)
print(list2)
print(list3)

#sort List
list1.sort()
print(list1)

#join list

list4 = list2 + list1
print(list4)

['Pen', 'Pencil', 'NoteBook']
['Pen', 'Book', 'Pencil']
[1, 2, 3, 4, 6]
['NoteBook', 'Pen', 'Pencil']
['Pen', 'Book', 'Pencil', 'NoteBook', 'Pen', 'Pencil']

#Set
Sets are used to store multiple items in a single variable.
Sets cannot have two items with the same value.

In [12]:
st = {1,2,3,1,1,4,5,5,6,8,7}
print(st)
print(len(st))

{1, 2, 3, 4, 5, 6, 7, 8}
8

#Dictionary
Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [15]:
store = {
    "name": "Jamal",
    "address":"Sylhet",
    "age":22
}
print(store)
print(store["name"])
print(store.get("age"))
print(store.keys())

{'name': 'Jamal', 'address': 'Sylhet', 'age': 22}
Jamal
22
dict_keys(['name', 'address', 'age'])

#If-Else

In [16]:
age=22
if age >=18 :
    print("Adult");
else:
    print("Child")

Adult

#Loops

In [20]:
i=2
while(i<10) :
    print(i)
    i+=1
print(" ")
#for loop
numbers = [1,2,3,4,5,6]

for i in numbers:
    print(i)

2
3
4
5
6
7
8
9

1
2
3
4
5
6

Functions

In [23]:
def Hello():
    print("hello everyone!")

Hello()

def sum(a,b):
    print("Sum : ", a+b)

sum(5,7)

hello everyone!
Sum :  12